:root {
    --animate-delay: 0.5s;
  }
.d-flex{
    align-items: center;
    justify-content: center;
}
.right-menu ul i{
    margin-left: 30px;
    font-size: 20px;
    color: #758283
}
.nav-item a:hover{
    color: #548b3c !important;
    border-bottom: 2px solid #548b3c;
    
}
.slider-area{
    background-color: #d7e0d3;
    min-height: 500px;
    
}
.slider-1{
    margin-top: 50px;
}
.slider-2{
    padding-top: 120px;
}
.slider-3{
    margin-top: 50px;
}
.buy-now-options h2{
    color: #548b3c;
    font-weight: 600;
    font-size: 3rem;
    font-family: 'Acme', sans-serif;
}
.products-branding{
    margin-top: 100px;
    margin-bottom: 100px;
    color: #8ebb7b;
}
.products-branding img{
    width: 100px;
    height: auto;
    margin: auto;
    margin-top: 30px;
}
.products-branding h3{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color:#758283 ;
}
.products-branding p{
    text-align: justify;
    margin-top: 20px;
    color: #758283;
}
.product-description{
    display: flex;
    justify-content: space-between;
}
.horaizental-des h5{
    color: #66AD47;
    font-family:'Dancing Script', cursive;
    font-size: 2.5em;

}
.horaizental-des h2{
    color: #758283;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: 50px;
    font-family: 'Acme', sans-serif;

}
.horaizental-des p{
    color: #758283;
    font-size: 1.05em;
    text-align: justify;
    
    
}
.product-image img{
    margin-left: 50px;

}
.product-description{
    margin-top: -120px;
}
.button-icon button{
    color: #66AD47;
    width: 150px;
    margin-top: 50px;
}
.product-image{
    margin-bottom: 150px;
}

.review-section{
    background-color: #f3f7f1;
    height: 500px;
}
.customers-review{
    margin-top: 100px;
}
.review-1,.review-2 p{
    color: #758283;
    text-align: justify;
}
.review-2 h4{
    color: #758283;
    margin-bottom: 20px;
}
.review-1 h4{
    margin-bottom: 20px;
}

.customer-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.customer-image h3{
    margin-right: 10px;
}
.customer-name h3{
    font-size: 18px;
    color: #535a5a;
    margin-left: 10px;
    margin-bottom: 0;
}
span{
    font-size: 12px;
    margin-top: 0;
}
.review-1{
    margin-top: 30px;
}
.all-reviews{
    background-color: #f2f8ef;
    margin-bottom: 100px;
}
.customer-info{
    margin-bottom: 30px;
}
.review-1 h5{
    color: #8ebb7b;
    margin-bottom: 20px;
}
.customer-reviews{
    padding-top: 100px;
    padding-bottom: 70px;
}
.brand-info{
    margin-bottom: 150px;
}
.brand-des h3{
    color: #758283;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: 'Acme', sans-serif;
}
.brand-des p{
    color: #758283;
    font-size: 1.05em;
    text-align: justify;
}
.button-icon button{
    margin-top: 10px;
}

.shipping-section{
    background-color: #f1f6f7;
    margin-bottom: 100px;
    min-height: 600px;
}
.shipping-info {
    text-align: center;
}
.shipping-info h1{
    color: #8ebb7b;
    font-size: 300px;
    font-family: 'Acme', sans-serif;
}
.shipping-info h3{
    color: #758283;
    font-size: 2em;
    margin-bottom: 30px;
    
}
.shipping-info p{
    color: #758283;
    
}
.button{
    width: 100px;
    margin-left: 10px;
    
}
.contract h3{
    color:  #8ebb7b;
    margin-bottom: 25px;
}
.category h3{
    color:  #8ebb7b;
    margin-bottom: 25px;
}
.contract i,p{
    color:  #758283;
}
.contract-info{
    margin-bottom: 10px;
}
.category i{
    color: #758283;
}

.social-links i{
    font-size: 18px;
    color: #758283;
}
footer{
    margin-bottom: 20px;
}
.fa-facebook:hover{
    color: #207398;
}
.fa-instagram:hover{
    color: #DE4839;
}
.fa-linkedin:hover{
    color:#1B98F5;
}
.fa-youtube:hover{
    color:#B4161B;
}.fa-twitter:hover{
    color:#1B98F5;
}
